* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
canvas {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
@font-face {
  font-family: Roboto;
  src: url(./src/Roboto-Regular.ttf);
}
footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.footer-link {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
